<!-- 
  Launches the obstacle detection node
 -->
 
<launch>
  <arg name="downsample_leaf_size"        default="0.01"/>
  <arg name="input_topic"                 default="camera/depth/points"/>
  <arg name="filtered_obstacles_topic"    default="filtered_obstacles"/>
  <arg name="filtered_ground_plane_topic" default="filtered_ground_plane"/>
  
  <node pkg="obstacle_detection" type="obstacle_detection" name="obstacle_detection">
    <param name="downsample_leaf_size" type="double" value="$(arg downsample_leaf_size)"/>
    <remap from="input"                       to="$(arg input_topic)"/>
    <remap from="filtered_obstacles"          to="$(arg filtered_obstacles_topic)"/>
    <remap from="filtered_ground_plane_topic" to="$(arg filtered_ground_plane_topic)"/>
  </node>
</launch>
